/* SUPER Large desktops and laptops */
@media screen and (min-width: 1600px) {
  .container {
    max-width: 1230px;
  }

  .section__photo {
    height: inherit;
  }

  .section__footer {
    height: inherit;
  }
}
@media (max-width: 1400px) and (min-width: 1200px) {
  .container {
    max-width: 1230px;
  }

  .overheader__contain {
    padding: 0;
    height: 100%;
  }
  .overheader__email, .overheader__telephone {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1400px) {
  .header__burger {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1100px) {
  .container {
    max-width: 1050px;
  }

  .block-18 {
    min-width: 150px;
  }

  .blocks__flex {
    height: auto;
  }

  .footer__block {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__block__widgets {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .footer__widget {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    max-width: 50%;
    min-width: 49%;
  }
  .footer__widget h2 {
    margin-top: 15px;
  }

  .section__about__container .container {
    padding: 0;
  }

  .section__about__container__text {
    padding: 0;
  }
}
/* Portrait tablets and small desktops */
@media (max-width: 992px) {
  .container {
    max-width: 960px;
    padding: 0px 15px;
  }

  .overheader__contain {
    padding: 0 10px;
    height: 100%;
  }
  .overheader__email, .overheader__telephone {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section__about__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section__footer {
    height: auto;
  }

  .header__links {
    display: none;
    z-index: 60;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 101px;
    left: 0;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    -webkit-box-shadow: 0px 15px 40px -15px rgba(30, 170, 241, 0.5);
            box-shadow: 0px 15px 40px -15px rgba(30, 170, 241, 0.5);
  }
  .header__links a {
    margin: 0;
    padding: 10px 20px;
  }
  .header__links a:hover, .header__links a:active {
    background-color: #1eaaf1;
    color: #fff;
  }

  .promo__title {
    font-size: 40px;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .separator__bg {
    background-size: cover;
    background-position: 50% -25px;
    background-attachment: scroll;
  }

  .section__blocks__teachers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .courses__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .courses__block .img {
    width: 100%;
    height: 300px;
  }

  .courses__block .text {
    width: 100%;
  }

  .section__pricing, .section__blog {
    padding: 56px 0;
  }

  .section__pricing .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .block__pricing {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    max-width: none;
  }

  .row.form__contain {
    height: inherit;
  }

  .form__container {
    position: relative;
    height: inherit;
  }

  .section__forms {
    height: 650px;
  }
  .section__forms .container {
    height: inherit;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  #header {
    height: 55px;
  }

  .container {
    max-width: 720px;
  }

  .footer__block__widgets {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .footer__widget {
    max-width: inherit;
    min-width: auto;
  }

  .section__footer {
    height: auto;
  }

  .overheader {
    padding: 8px 0;
    height: 120px;
  }
  .overheader__address {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }
  .overheader__contain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__contain {
    height: 55px;
  }

  .blocks__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block_flex {
    padding: 0px 24px 36px 24px;
  }

  .section__about_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .separator__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .separator__block2 {
    margin: 0 auto;
  }
  .separator__bg {
    background-position: 50% 0px;
  }

  .section__heading h2 {
    font-size: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .slider {
    padding: 0;
  }

  .counter__block {
    padding: 0;
  }

  .con-12k {
    width: inherit;
    padding: 0;
    max-width: 100%;
  }

  .slick-list.draggable {
    max-width: 100%;
  }

  .slider__carousel {
    padding: 0;
  }

  .section__blocks__teachers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__blocks__teachers.teacher__page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .faded ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .faded ul li {
    width: 20px;
  }

  .section__courses .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .courses__block {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    max-width: 100%;
  }

  .counter__blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section__forms {
    height: 110vh;
    position: relative;
    width: 100%;
  }
  .section__forms .container {
    max-width: none;
    height: inherit;
  }

  .slider {
    padding: 0;
  }

  .form__contain {
    max-width: 100%;
    width: 100%;
  }
  .form__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section__pricing .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .block__pricing:hover {
    -webkit-box-shadow: 0px 15px 10px -15px #111;
            box-shadow: 0px 15px 10px -15px #111;
  }

  .section__blog .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blog__block {
    width: 100%;
  }

  .section__photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .photo__img {
    width: 100%;
  }

  .form__container {
    padding: 48px 15px;
    width: 100%;
  }

  .contacts_blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section__map .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  .overheader {
    height: 160px;
  }
  .overheader__text {
    width: calc(100% - 40px);
  }

  .con-12k {
    max-width: 460px;
    margin: 0 auto;
    padding: 0;
  }

  .slider__item {
    width: 440px;
  }

  .slider__img {
    margin-right: 5px;
  }

  .block__pricing.img {
    background-position: center;
  }
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
  .con-12k {
    max-width: 100%;
    position: relative;
  }

  .slider__carousel {
    position: relative;
    max-width: 100%;
  }

  .qoutte_div {
    display: none;
  }

  .slider {
    max-width: 100%;
    padding: 0px 5px;
  }

  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 400px;
  }

  .slider__img {
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .slider__text {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .slider__text > span {
    margin-bottom: 16px;
  }

  .section__forms {
    height: 130vh;
  }
}
@media (max-width: 375px) {
  .section__counter {
    background-position: 0% 20%;
  }
}
/* Small phones */
@media (max-width: 320px) {
  .overheader {
    height: 160px;
  }
  .overheader__text {
    width: calc(100% - 40px);
  }

  .section__heading > h2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 28px;
  }

  .header__links {
    top: 55px;
  }

  .con-12k {
    max-width: 300px;
    padding: 0;
  }

  .slick-list.draggable {
    max-width: 300px;
  }

  .slider__item {
    width: 320px;
  }

  .section__forms {
    height: 160vh;
  }

  .block__pricing {
    padding: 30px 0;
  }
}
@media (max-width: 287px) {
  .con-12k {
    max-width: 250px;
    padding: 0;
  }

  .slick-list.draggable {
    max-width: 250px;
  }

  .section__about__container {
    width: 100%;
    padding: 0;
    margin-top: 40px;
  }
  .section__about__container__text > h2 {
    text-align: center;
  }

  .con-12k {
    max-width: 200px;
    padding: 0;
  }

  .slick-list.draggable {
    max-width: 200px;
  }

  .slider__item {
    width: 210px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 20px;
  }
}